.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  justify-self: center;
}

li {
  margin: 2%;
}
ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding: 10px;
  border: 10px;
  border-color: papayawhip;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
.header .left-links {
  justify-self: flex-start;
  align-items: flex-start;
}

.header .right-links {
  align-self: flex-end;
  margin-right: 2%;
}